
*.vcxproj
*.filters
*.user
*.dll
source/game_engine_1/Saffire/.vs/Saffire/v16/.suo
*.exe
*.pdb
*.lib
*.idb
*.exp
*.obj

*.log
*.tlog
source/game_engine_1/Saffire/.vs/Saffire/v16/Browse.VC.db
*.db-shm
*.db-wal
*.opendb
*.ipch
*.db
*.testlog
*.manifest
*.recipe
*.ilk
